body {
	margin: 0;
	padding: 0;
}

.w1170 {
	width: 1170px;
	margin: 0 auto;
	position: relative;
}

@font-face {
    font-family: Raleway-Regular; 
    src: url(../fonts/Raleway-Regular.ttf); 
}

@font-face {
    font-family: Raleway-Bold; 
    src: url(../fonts/Raleway-Bold.ttf); 
	font-weight: bold;
}

@font-face {
    font-family: OpenSans-Regular; 
    src: url(../fonts/OpenSans-Regular.ttf); 
}

@font-face {
    font-family: OpenSans-Bold; 
    src: url(../fonts/OpenSans-Bold.ttf); 
	font-weight: bold;
}

header {
	background: url(../images/header.jpg);
	background-size: cover;
	height: 750px;
    min-width: 100%;		
    display:inline-block;
}

.navigation {
	height: 100px;
	border-bottom: 1px solid #505369;
	width: 100%;
}

.navigation:hover {
	background: url(../images/gradient.png) repeat-x;

}

nav {
	padding: 0px;
	margin: 0;
	text-align: right;

}


nav a {
	color: rgba(255,255,255,0.75);
	text-decoration: none;
	font-family: Raleway-Bold;
	font-weight:bold;	
	font-size: 13px;
	text-transform:	uppercase;
	display: inline-block;
	margin-left: 55px;
	margin-top: 40px;	
}

nav a:hover  {
	color: rgb(255,255,255);
	
}

.logo {
	position: absolute;
	top: 38px;
}

.masthead {
	text-align: center;
}

.masthead-h {
	font-family: OpenSans-Bold;
	font-weight:bold;	
	font-size: 65px;
	color: #fff;
	margin: 145px 0 0 0;
	padding: 0 130px;
	text-transform:	uppercase;
	line-height: 71px;
}

.masthead-p {
	font-family: Raleway-Regular;	
	font-size: 22px;
	color: #fff;
	margin: 25px 0 0 0;
	padding: 0 120px;
	line-height: 33px;	
}

.masthead-b {
	background: #e84545;
	border-radius: 2px;
	border: none;
	color: #fff;
	text-transform:	uppercase;
	font-family: Raleway-Bold;	
	font-size: 13px;	
	font-weight: bold;
	height: 46px;
	width: 200px;
	margin: 80px 0 0 0;
	cursor: pointer;
	display: inline-block;
	padding: 15px 40px;	
}

.masthead-b:hover {
	background: #ff4c4c;
	
}

/* features */

.features {
	height: auto;
	padding: 80px 0;
    min-width: 100%;		
    display:inline-block;
	margin: 0 0 -5px 0;
	background: #fff;	
}

.features-h {
	font-family: Raleway-Bold;
	font-weight: bold;
	text-transform:	uppercase;
	font-size: 14px;
	margin: 25px 0 13px 0;
	padding: 0px;
	color: #2d3033;
}

.features-p {
	font-family: Raleway-Regular;
	color: #6c7279;
	font-size: 14px;
	margin: 0px;
	padding: 0 28px 0 28px;
	line-height: 21px;
}

.features-block {
	width: 33%;
	text-align: center;
	float: left;
	margin: 25px 0;
}

.features-block-bg {
	height: 60px;
}

.bg-1 {
	background: url(../images/features1.png) no-repeat;
	background-position: center;
}

.bg-2 {
	background: url(../images/features2.png) no-repeat;
	background-position: center;
}

.bg-3 {
	background: url(../images/features3.png) no-repeat;
	background-position: center;
}

.bg-4 {
	background: url(../images/features4.png) no-repeat;
	background-position: center;
}

.bg-5 {
	background: url(../images/features5.png) no-repeat;
	background-position: center;
}

.bg-6 {
	background: url(../images/features6.png) no-repeat;
	background-position: center;
}

/* portfolio */

.works {
	height: 700px;
    min-width: 1170px;
	width: 100%;
    display:inline-block;
	margin: 0px 0 -5px 0;
	padding: 0px;
	background: #000;

}

.works-img {
	min-width: 100%;
	min-height: 100%; 
	display: block;

	
}

.works-block-1-4{
	width: 24%;
	height: 50%;
	float: left;
	cursor: pointer;
	overflow: hidden;
	position: relative;	
}

.works-block-2-3 {
	width: 26%;
	height: 50%;
	float: left;
	cursor: pointer;
	overflow: hidden;	
	position: relative;		
}

.works-ap {
	text-align: center;
	width: 100%;
	height: 100%;
	float: left;
	background: rgba(232,69,69,0.9);	
	position: absolute;
	display: none;
}

.works-h {
	font-family: Raleway-Bold;
	font-weight: bold;
	text-transform:	uppercase;
	font-size: 14px;
	color: #fff;
	margin: 160px 0 10px 0;

} 

.works-p {
	font-family: Raleway-Regular;
	font-size: 14px;
	color: #fff;
} 

.works-block-1-4:hover .works-ap {
	display: block;
}

.works-block-2-3:hover .works-ap {
	display: block;
}

.border {
	border: 1px #fff solid; 	
	width: 100%;
	height: 100%;
	float: left;
	padding: 0px;
	margin: 0px;
}



.clear {
	clear: both;
}

/* team */



.team {
	background: #fff;
	height: auto;
	padding: 105px 0;
  	min-width: 100%;		
   	display:inline-block;
	margin: 0 0 -5px 0;
	border-top: 1px solid #fff;	
	
}

.team1 {
	width: 25%;
	float: left;
	margin: 0;
}

.team2 {
	width: 25%;
	float: left;
	margin: 0;	
}

.team3 {
	width: 25%;
	float: left;
	margin: 0;	
}

.team4 {
	width: 25%;
	float: left;
	margin: 0;	
}

.name {
	font-family: Raleway-Regular;
	font-size: 22px;
	color: #2d3033;
	margin: 25px 0 0 0;
	font-weight: normal;
}

.job {
	font-family: Raleway-Regular;
	font-size: 13px;
	color: #e84545;
	margin: 8px 0 0 0;	
	text-transform: uppercase;
	font-weight: normal;	
}

.description {
	font-family: Raleway-Regular;
	font-size: 14px;
	color: #6c7279;
	margin: 18px 30px 0 0;	
	
}

.social-profile {
	display: inline-block;
	margin: 20px 0 0 0;
	
}

.social-profile > a {
	margin-right: 5px;
	outline: none;
	text-decoration: none;	
}


.facebook-t {
	background: url(../images/facebook-t.png) no-repeat;
	display: block;
	padding: 20px;
	background-position: 0 0px;		
	float: left;
	
}

.facebook-t:hover {
	background-position: 0 -40px;
}

.twitter-t {
	background: url(../images/twitter-t.png) no-repeat;
	display: block;
	padding: 20px;
	background-position: 0 0px;	
	float: left;	
	
}

.twitter-t:hover {
	background-position: 0 -40px;
	
}

.instagram-t {
	background: url(../images/instagram-t.png) no-repeat;
	display: block;
	padding: 20px;
	background-position: 0 0px;	
	float: left;	
	
}

.instagram-t:hover {
	background-position: 0 -40px;	
	
}


/* download */

*{
	box-sizing: border-box;
}

section{
	display: block;
}

a{
	text-decoration: none;
}

.download {
	height: auto;
  	min-width: 100%;		
   	display:inline-block;
	padding: 50px 0 100px 0;	
}

.container {
	text-align: center;		
}

.container h2 {
	font-size: 28px;
	color: #2d3033;	
	font-family: OpenSans-Regular; 
	margin: 0 0 10px 0;
	
}

.container p {
	color: #2d3033;
	text-transform: uppercase;
	font-size: 14px;
	font-family: Raleway-Bold; 
	margin: 0px;
}

.download-b {
	margin-top: 30px;
	padding: 15px 40px;
	background-color: #e84545;
	border: 0;
	border-radius: 2px;
	display: inline-block;
	text-transform: uppercase;
	cursor: pointer;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	font-family: Raleway-Bold;			
}



.download-b:hover {
	background: #ff4c4c;
	
}

/* footer */

.footer {
	background: #3a3e64;
	height: auto;
  	min-width: 100%;		
   	display:inline-block;
	padding: 100px 0;
	border-top: 1px solid #fff;


}

.footer-h {
	font-family: Raleway-Bold;
	font-weight: bold;
	text-transform:	uppercase;
	font-size: 14px;
	margin: 0 0 12px 0;
	padding: 0px;
	color: #fff;
}

.footer-p {
	font-family: Raleway-Regular;
	font-size: 14px;
	margin: 0px;
	padding: 0 30px;
	color: rgba(255,255,255,0.5);
}

address {
	font-family: Raleway-Regular;
	font-size: 14px;
	margin: 0px;
	padding: 0 30px;
	color: rgba(255,255,255,0.5);
	font-style: normal;
}

.footer-block {
	width: 33%;
	text-align: center;
	float: left;
	line-height: 20px;	


}

.shared {
	display: inline-block;
	text-align: center;
}


.shared > a {
	text-decoration: none;
	margin: 0 3px;
	outline: none;
}


.facebook-f {
	background: url(../images/facebook.png) no-repeat;
	display: block;
	padding: 20px;
	background-position: 0 -40px;	
	float: left;
	
}

.facebook-f:hover {
	background-position: 0 0px;	
	
}

.twitter-f {
	background: url(../images/twitter.png) no-repeat;
	display: block;
	padding: 20px;
	background-position: 0 -40px;	
	float: left;	
	
}

.twitter-f:hover {
	background-position: 0 0px;	
	
}

.instagram-f {
	background: url(../images/instagram.png) no-repeat;
	display: block;
	padding: 20px;
	background-position: 0 -40px;	
	float: left;	
	
}

.instagram-f:hover {
	background-position: 0 0px;	
	
}




.copyright {
	background: #313454;
	height: auto;
    min-width: 100%;		
    display:inline-block;
	margin: -5px 0 -5px 0;
	padding: 30px 0;
}

.copyright2015 {
	text-align: center;
	font-family: Raleway-Regular;
	font-size: 14px;
	color: #808080;
	padding: 0 420px;
	line-height: 20px;

}

.white {
	color: #fff;
}

.pink {
	color: #e84545;
}


